extends: default

ignore: |
  .venv/
  .git/
  __pycache__/
  *.egg-info/

rules:
  indentation:
    spaces: 2
    indent-sequences: consistent
  line-length:
    max: 120
    allow-non-breakable-words: true
  # Dependabot writes SHA pins as `@<sha> # vX.Y.Z` (one space).
  comments:
    min-spaces-from-content: 1
  document-start: disable
  truthy: disable
